#root {
  max-width: 1280px;
  padding: 2rem;
}
.heading{
  font-family: "Briem Hand", cursive;
}
.movie-card{
  box-shadow: 2px 5px 15px rgba(255, 255, 255, 0.615);
  width: 250px;
}
.logo{
  width: 60px;
  height: 40px;
}
.search-input{
  outline: 0 !important;
}